.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header::after {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: -2;
  content: "";
  animation: rotation  linear 20s infinite;
}

